.dn{
    display: none !important; /* 강제 적용 */
}

header h1{
    padding: 30px;
    background: #95D2B3; /*F1F8E8*/
}

main{
    display: flex;
    flex-direction: column;
    align-items: center
}

.content_box{
    background: #D8EED3;
    align-items: center;
    text-align: center;
    height: 1000px;
}

.buttons button {
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: LightPink;
    border-color: black;
    border-style: double;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.btn {
    display: inline;
    width: 100px;
    height: 30px;
    margin: 20px 5px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: LightPink;
    border-style: solid;
    border-color: #d3d3d3;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

