<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--매퍼 XML 파일과 연결될 매퍼 인터페이스의 경로-->
<!--그럼 xml 경로는 어디에? -> mybatis.xml 의 mapper 태그 안에 작성 -->
<mapper namespace="org.choongang.member.mapper.MemberMapper">
    <!--변수명과 컬럼명이 동일하지 않은 경우 매칭시켜주는 작업-->
    <resultMap id="memberMap" type="org.choongang.member.entities.Member" >
        <result column="USER_NO" property="userNo" />
        <result column="EMAIL" property="email" />
        <result column="PASSWORD" property="password" />
        <result column="USER_NAME" property="userName"/>
        <result column="REG_DT" property="regDt"/>
        <result column="MOD_DT" property="modDt"/>
    </resultMap>

    <!--EMAIL 값:{email}이 이미 존재하는지 조회 : count 갯수를 통해 -->
    <select id="exist" resultType="long">
        SELECT COUNT(*) FROM MEMBER WHERE EMAIL=#{email}
    </select>

    <!--{email}로 회원 정보 조회-->
    <select id="get" resultMap="memberMap">
        SELECT * FROM MEMBER WHERE EMAIL=#{email}
    </select>

    <insert id="register">
        INSERT INTO MEMBER (USER_NO, EMAIL, PASSWORD, USER_NAME)
            VALUES (SEQ_MEMBER.NEXTVAL, #{email}, #{password}, #{userName})
    </insert>
</mapper>